__pycache__/
consumers/spark/model/
appunti.txt
comandipostgres.txt
*.ipynb
/data/make_dataset/trustpilot/*dataset*
/data/make_dataset/youtube/*dataset*
/training/data
/training/distilbert_base_sst2_finetuned
/training/experiments/*/best_checkpoint.pth
/training/final_experiments/*/best_checkpoint.pth
/training/experiments_new_yt/*/best_checkpoint.pth
/training/trained_model
**/reddit.env
**/youtube.env
mounted_data