__pycache__/
consumers/spark/model/
appunti.txt
comandipostgres.txt
*.ipynb
/data/make_dataset/trustpilot/*dataset*
/data/make_dataset/youtube/*dataset*
/training/*dataset*
/training/experiments/*/best_checkpoint.pth
/giuse_torch/